.nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.nav ul a li {
  padding: 10px;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}

.nav ul a li:hover {
  background-color: #4caf50;
  color: #f0f0f0;
  font-weight: bold;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .nav ul {
    flex-direction: column;
  }
}
