.account {
  display: flex;
}

.nav {
  flex: 1;
  padding: 5px;
}

.nav ul li {
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.nav ul li:hover {
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
}

.main {
  flex: 4;
}

.iconContainer,
.changePassword {
  width: calc(50% - 5px);
  float: left;
  display: flex;
}
.iconContainer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.data {
  background-color: #e0e0e0;
  padding: 20px;
  display: grid;
}
.title{
  color:#333;
  margin-left: 5px;
}
.formRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.formRow input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}