.header {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Impact", sans-serif;
  font-size: 24px;
}

.title:hover {
  color: #fab833;
}

.nav {
  margin-right: 9.5%;
}

.list {
  margin-left: 30px;
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: whitesmoke;
}

.list a:hover,
.list a.active {
  color: #fab833;
}

.account {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.accountLink {
  text-decoration: none;
  color: whitesmoke;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}