.header {
  padding: 10px 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Impact", sans-serif;
  font-size: 24px;
}
.title{
 font-size: 34px;
}
.nav {
  margin: 0 10px 0 10px;
}
.nav ul {
  display: flex;
  gap: 1rem;
}
.nav ul li a{
  transition: all 0.3s ease 0s;
}
.nav ul li a:hover,
.nav ul li a.active {
  color: #fab833;
}

.account {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .header {
    font-size: 18px;
  }
}