.custom-navbar {
  background-color: #202020;
}

.account {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logout {
  margin-right: 15px;
}

.logout:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.title:hover {
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1.1);
}
