.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.interactionContainer {
    flex: 1;
}

.likes{
    color: green;
}

.dislikes{
    color: red;
}

.error{
    text-align: center;
}