* {
  color: whitesmoke;
  line-height: 24px;
}
body {
  background-color: #202020;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
main {
  min-height: 600px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("./images/main.png");
  background-size: contain;
  background-repeat: repeat;
}

input {
  color: black;
}

li,
ul,
ol,
a {
  color: whitesmoke;
  list-style: none;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}
