* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 16px;
}
body {
  line-height: 24px;
  color-scheme: light dark;
  background-color: #202020;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
main {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("./images/main.png");
  background-size: cover; 
}

input {
  color: black;
}

li, ul, ol, a {
  color: whitesmoke;
  list-style: none;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}