.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
